<body>
    <h1 class="text-center">Welcome to Kanto</h1>

    <div id=gameboy-container>
        <img id="gameboy" src="img/gameboy_small.png">
    </div>
    
    <img id="map" src="img/kq8mzkvpkjy51.png">

</body>

