<body id=map-body>
    <div id=gameboy-container>
        <h1 id="welcome">PokéMap</h1>
        <img id="gameboy" src="img/gameboy_small.png">
        <img id="map" src="img/kanto_map.png">
    </div>
</body>

