@font-face {
    font-family: 'Pokemon Fire Red Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Fire Red Regular'), url('fonts/pokemon_fire_red.woff') format('woff');
}

#sidebar {
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    overflow-x: hidden;
    transition-duration: 0.5s;
    white-space: nowrap;
}

#main {
    transition: margin-left 0.5s;
}

#map-body {
    background-color: black;
}

#gameboy-container {
    position: relative;
    text-align: center;
}

#gameboy {
    position: relative;
    width: 1250px;
    border-radius: 15px;
}

#welcome {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34,47,105);
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    left: 480px;
    border: 5px solid rgb(34,47,105);
    border-radius: 25px;
    width: 300px;
    top: -15px;
}

#map {
    position: absolute;
    top: 130px;
    left: 310px;
    width: 650px;
    border-radius: 15px;
    box-shadow:
    0 0 30px 10px rgb(255,255,255),
    0 0 60px 30px rgb(150, 190, 200),
    0 0 90px 50px rgb(75,178,167);
}

.map-pointer {
    position: absolute;
    width: 30px;
    opacity: 80%;
    transition-duration: 0.3s;
}

#pallet-town {
    bottom: 255px;
    left: 455px;
}

#route-1 {
    bottom: 305px;
    left: 455px;
}

#viridian-city {
    bottom: 345px;
    left: 455px;
}

#route-2 {
    bottom: 385px;
    left: 455px;
}

#viridian-forest {
    bottom: 415px;
    left: 452px;
}

#pewter-city {
    bottom: 455px;
    left: 455px;
}

#route-3 {
    bottom: 463px;
    left: 532px;
}

#mt-moon {
    bottom: 492px;
    left: 596px;
}

#route-4 {
    bottom: 480px;
    left: 655px;
}

#cerulean-cave {
    bottom: 485px;
    left: 675px;
}

#cerulean-city {
    bottom: 477px;
    left: 722px;
}

#route-5 {
    bottom: 450px;
    left: 722px;
}

#route-24 {
    bottom: 510px;
    left: 722px;
}

#route-25 {
    bottom: 535px;
    left: 760px;
}

#route-9 {
    bottom: 480px;
    left: 800px;
}

#rock-tunnel {
    bottom: 480px;
    left: 866px;
}

#power-plant {
    bottom: 455px;
    left: 866px;
}

#route-10 {
    bottom: 430px;
    left: 866px;
}

#lavender-town {
    bottom: 392px;
    left: 867px;
}

#route-8 {
    bottom: 400px;
    left: 788px;
}

#saffron-city {
    bottom: 400px;
    left: 721px;
}

#route-6 {
    bottom: 370px;
    left: 721px;
}

#vermilion-city {
    bottom: 307px;
    left: 722px;
}

#route-7 {
    bottom: 400px;
    left: 682px;
}

#route-11 {
    bottom: 310px;
    left: 813px;
}

#route-12 {
    bottom: 350px;
    left: 885px;
}

#celadon-city {
    bottom: 410px;
    left: 607px;
}

#route-16 {
    bottom: 418px;
    left: 560px;
}

#route-17 {
    bottom: 339px;
    left: 529px;
}

#route-18 {
    bottom: 197px;
    left: 577px;
}

#fuchsia-city {
    bottom: 197px;
    left: 621px;
}

#route-15 {
    bottom: 197px;
    left: 675px;
}

#route-14 {
    bottom: 213px;
    left: 757px;
}

#route-13 {
    bottom: 243px;
    left: 819px;
}

#route-19 {
    bottom: 170px;
    left: 622px;
}

#route-20 {
    bottom: 135px;
    left: 590px;
}

#cinnabar-island {
    bottom: 133px;
    left: 443px;
}

#route-21 {
    bottom: 190px;
    left: 443px;
}

#route-22 {
    bottom: 350px;
    left: 403px;
}

#route-23 {
    bottom: 388px;
    left: 376px;
}

#victory-road {
    bottom: 455px;
    left: 376px;
}

#seafoam-islands {
    bottom: 134px;
    left: 548px;
}

#special-event {
    top: 100px; 
    right: 60px;
    opacity: 0%;
}

.map-pointer:hover {
    opacity: 100%;
    transform: scale(1.4) translateY(-3.5px);
    transition-duration: 0.3s;
    z-index: 1;
}

#party-button {
    position: absolute;
    bottom: 96px;
    left: 99px;
}

#start-button {
    background-color: transparent;
    border: none;
    border-radius: 60%;
}

#pokeball {
    /* z-index: 1;
    position: absolute;
    top: 100px;
    left: 50px; */
    border-radius: 60%;
    width: 75px;
    opacity: 50%;
    transform: rotate(0deg);
    transition-duration: 0.3s;
}

#pokeball:hover {
    opacity: 100%;
    transform: rotate(360deg) scale(1.4);
    transition-duration: 0.3s;
}

body {
    background-color: rgb(81,123,58);
}

.btn {
    background-color: rgb(81,123,58);
    border: none;
    border-radius: 15px;
}

.btn:hover {
    background-color: rgb(101,143,78);
}

.back-button {
    margin-left: 10px;
}

.my-container {
    background-color: rgb(56,56,56);
    color: white;
}

.poke-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.well {
    background-color: rgb(64,64,64);
    border: none;
    border-radius: 15px;
    text-align: center;
    margin: 0 0 10px 10px;
}

.favorite-button {
    background-color: rgb(29,86,163);
}

h3 {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: -20px 50px 0 50px;
    padding: 10px;
    background-color: rgb(56,56,56);
    color: white;
}

.data-table {
    margin: 5px;
    border-collapse: separate;
    border-spacing: 5px;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

.data-text {
    background-color: rgb(81,123,58);
    font-weight: bold;
}

td {
    background-color: rgb(64,64,64);
    border-radius: 5px;
}

h6 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(81,123,58);
    border-radius: 5%;
}

.a {
    text-transform: capitalize;
}

.italic {
    font-style: italic;
}

.detail {
    text-align: center;
}

.detail-sprite {
    transform: translateY(-20px);
}

.detail-img {
    max-width: 250px;
    margin: 10px;
    background-color: rgb(78,78,78);
    border-radius: 25%;
    border: 1px solid rgb(36,36,36);
}

.place-img {
    max-width: 40%;
    margin: 10px;
    border-radius: 15px;
}


.home-sprite {
    background-color: rgb(56,56,56);
    border-radius: 25%;
    /* width: 80px; */
}

li {
    margin: 5px;
    list-style-type: none;
}

.type-img {
    width: 50px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
    color: black;
}

.gold {
    background-color: gold;
    color: black;
}

.silver {
    background-color: silver;
}

.ruby {
    background-color: crimson;
}

.sapphire {
    background-color: royalblue;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    color: black;
}

.firered {
    background-color: orangered;
}

.leafgreen {
    background-color: olivedrab;
}

.diamond {
    background-color: rgb(29,86,163);
}

.pearl {
    background-color: rgb(248,164,175);
}

.shiny {
    background-color: hotpink;
}

#male {
    color: rgb(76,151,232)
}

#female {
    color: rgb(229,124,120)
}

.margin-top {
    margin-top: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.ruby:hover {
    background-color: rgb(238,46,84);
}